.parking-map {
  width: 372px;
  padding: 20px;
  border: 2px solid $color-darkgray;
  border-radius: 10px;
  background-color: $font-color;
}
.top-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(2, 40px);
  gap: 3px;
  margin-bottom: 15px;
}
.inout {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include font-basic();
  margin: 5px 0 0 0;
  .in { margin-left: 2px; }
  .out { margin-right: 2px; }
}
.bottom-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 40px;
  gap: 3px;
  margin-top: 15px;
}
.slot {
  display: flex;
  align-items: center;
  justify-content: center;
  @include font-small();
  background-color: $font-color;
  color: $color-black();
  width: 27px;
  height: 40px;
  
  border: 0.5px solid $color-darkgray;

  cursor: pointer;
    &:hover{
        background-color: $color-main;
        color: $color-black;
        
    }
}

.reserved {
  background-color: $color-darkgray !important;
  color: #fff !important;
  cursor: not-allowed;
}


.slot.reserved,
.pink.reserved,
.yellow.reserved,
.blue.reserved,
.green.reserved {
  border: 1.5px solid $color-darkgray !important;
}


.selected {
  background-color: $color-sub ;
  color:$font-color;
 
}
.parking-slot:not(.reserved):not(.selected):hover {
  background: $color-gray;
}
.pink     { border: 1px solid #E91E63; }
.yellow   { border: 1px solid #F1C40F; }
.blue     { border: 1px solid #0072C6; }
.green    { border: 1px solid #27AE60; } 





