.cancel-general {
  padding: 20px;
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #fff;
  color: $color-black;

  .title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 12px;
  }

  .question {
  font-size: 16px;
  color: $color-black;
  margin-top: 25px;
  margin-bottom: 24px;
  text-align: center;        
  display: block;            
  width: 100%;               
}

  .info-section {
    margin-bottom: 30px;
    color: $font-color;

    .info-title {
      font-size: 14px;
      font-weight: 700;
      margin-bottom: 12px;
      padding-bottom: 6px;
      border-bottom: 1px solid $font-color;
    }

    .info-box {
      background-color: $color-sub;
      border-radius: 12px;
      padding: 15px;
      margin-bottom: 20px;

      .info-row {
        display: flex;
        flex-direction: row;
        margin-bottom: 15px;
   

        .label {
          width: 100px;
          font-size: 13px;
          color: $font-color;
          margin-bottom: 6px;
          font-weight: 400;
          padding-top: 8px;
        
        }

        .value-box {
          flex: 1;
          font-size: 14px;
          color: $color-black;
          background-color: $font-color;
          border-radius: 6px;
          padding: 10px;
          border: none;
          outline: none;
     
        }

        &.fee .value-box {
          color: $color-error;
          font-weight: 700;
          cursor: default;
        }
      }

      .tower-box {
        display: flex;
        align-items: center;
        background-color: $font-color;
        border-radius: 6px;
        padding: 12px;
        margin-top: 12px;

        .icon {
          font-size: 24px;
          margin-right: 12px;
        }

        .text {
          h3 {
            font-size: 14px;
            font-weight: 700;
            margin-bottom: 4px;
            color: $color-black;
          }

          p {
            font-size: 13px;
            color: $color-darkgray;
            margin: 0;
          }
        }
      }
    }
  }

  .button-group {
    display: flex;
    flex-direction: column;
    gap: 12px;

    .btn {
      width: 100%;
      padding: 14px 0;
      font-size: 16px;
      font-weight: 700;
      border: none;
      border-radius: 6px;
      cursor: pointer;
    }

    .confirm {
      background-color: $color-darkgray;
      color: $font-color;

      &:hover {
        background-color: $color-main;
        color: $color-black;
      }
    }

    .cancel {
      background-color: $color-darkgray;
      color: $font-color;

      &:hover {
        background-color: darken($color-gray, 10%);
      }
    }
  }
  

}
.cancel-warning {
  padding: 10px;
  margin: 20px 20px 0;
  border-radius: 10px;
  background-color: $color-sub;
  color: $font-color;
  @include font-small;         
  // h4 {
  //   font-size: 14px;
  //   font-weight: 600;
  //   margin-bottom: 12px;
  //   color: $font-color;              
  // }
  ul {
      margin-top: 20px;

    li {
      margin-top: 10px;
      word-break: keep-all;      
    }
  }
}
