.page-wrap{
  height: 100%;
}
.my-page{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
}

//스크롤바 기능 유지, 스크롤바는 숨기기
.my-page::-webkit-scrollbar {
  display: none;
}

.my-modify{
  width: 372px;
  background-color: $color-sub;
  color: $font-color;
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;
  ul{
    margin-top: 1rem;
    font-size: 20px;
  }
}

.my-txt,
.pass-txt{
  border-bottom: 1px solid $color-darkgray;
  h3{
    padding-bottom: 5px;
    padding-left: 10px;
    @include font-medium;
  }
}
.my-txt{
  width: 105px;
}
.pass-txt{
  width: 131px;
}

.list-one{
  li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:nth-of-type(1){
      padding-bottom: 10px;
    }
    &:nth-of-type(2),
    &:nth-of-type(3){
      padding-left: 1rem;
    }
  }
}
.list-two{
  li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:nth-of-type(1){
      padding-bottom: 10px;
    }
  }
}
.modi-icon{
  color: $color-darkgray;
  cursor: pointer;
}

.my-pass{
  width: 372px;
  background-color: $color-sub;
  color: $font-color;
  padding: 15px 10px;
  border-radius: 10px;;
  margin-top: 20px;
}

.pass-buy{
  margin: 20px 0;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $font-color;
  color: $color-darkgray;
  border-radius: 10px;
  @include font-basic;
  p{
    padding: 10px 0;
  }
  button{
    width: 240px;
    height: 50px;
    outline: none;
    border: none;
    background-color: $color-darkgray;
    color: $font-color;
    border-radius: 10px;
    @include font-basic;
  }
}


//** 정기권 목록 섹션
.pass-listWrap{
  position: relative;
}
.pass-list{
  margin: 1rem 0;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: $font-color;
  color: $color-darkgray;
  border-radius: 10px;
  p{
    &:nth-of-type(1){
    font-weight: bolder;
    padding-bottom: 3px;
    }
  }
}
.pass-status{
  margin-right: 20px;
  margin-top: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 50px;
  background-color: $color-darkgray;
  color: $font-color;
  border-radius: 10px;
  position: absolute;
  right: 0;
  top: 26px;
  @include font-basic;
}

.pass-1m,
.pass-3m,
.pass-6m,
.pass-12m,
.pass-end
{
  @include font-basic;
  position: relative;
}

.no-pass-message{
  text-align: center;
  margin: 20px;
}