@import "./styles/global.scss";

#app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    #mobile-page {
        width: 412px;
        height: 80vh;
        max-width: 412px;
        max-height: 917px;
        border: 1px solid #222;
        border-radius: 1rem;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }
    }
}
